

@font-face {
    font-family: Feather;
    font-style: normal;
    font-weight: 400;
   src: url('fonts/feather.ttf') format('truetype');

}

.course-card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 8px 8px;
  transform: translate3d(0px, -1px, 0px);
}
.shadow-sec {
  box-shadow: 0 1px 3px rgba(17,24,39,.09)!important;
}

.course-card{
  border-radius: 0.7rem !important;
  width: 15rem !important;
}
 
 #title {
    text-decoration: initial;
    color: #754ffe!important;
}
.bodySection{
  background-color: lightgrey !important;
}

.nav-link{
  
  color: rgb(30, 41, 59) !important;
}

.dropdown-toggle {
  white-space: nowrap !important;
}

.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-xl {
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
}

.text-decoration-none {
  text-decoration: none!important;
}

.rounded-3 {
  border-radius: .5rem!important;
}

.rounded {
  border-radius: .375rem!important;
}
.py-10 {
  padding-bottom: 4.5rem!important;
  padding-top: 4.5rem!important;
}

.border-white {
  border-color: #fff!important;
}


.btn-play {
  background-color: #fff;
  color: #754ffe;
  transition: .2s ease;
}
.btn-play:hover {
  background-color: #754ffe;
  color: #fff;
  transition: .2s ease;
}
.nav-item{
    color: #754ffe!important;
    font-style: normal;
}

.dropdown-menu {
    background-color: white !important;
    border-color: white !important;
    border-radius: initial;
  }


  @media (max-width: 991.98px) {
    .navbar-toggler:not(.collapsed) {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
  .bg-light-warning{
    background-color: palegoldenrod;
  }
  
  .text-dark-warning{
    background-color:#ffeeda!important;
    color: orange !important;
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    outline: black;
  }
  
  .carousel-control-next-icon:after
  {

    background-image: none !important;
    content: '>' !important;
    font-size: 25px !important;
    color: black !important;
    background-color: white !important;
    border-radius: 50% !important;
    background-size: cover !important;
    color: black;
    width: 38px !important;
    height: 38px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-control-prev-icon:after {
    font-size: 25px !important;
    background-image: none !important;
    content: '<' !important;
    background-color: white !important;
    border-radius: 50% !important;
    background-size: cover !important;
    color: black;
    width: 38px !important;
    height: 38px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
.carousel-control-next-icon:hover:after,
.carousel-control-prev-icon:hover:after {
  background-color: #754ffe !important;
  color: white !important;
}

.carousel-control-prev {
    margin-left: -100px !important;
    color:black !important;
  }
  
  .carousel-control-next {
    margin-right: -95px;
    color:black !important; 
  }
  @media only screen and (max-width: 767px) {
    .carousel {
      position: relative;
      align-items: center;
    }
}
.accordion-item:hover{
  color:inherit;
}
.carousel-control-next-icon {
  background-image: none !important;
  color:black !important;
  width: 32px !important; height: 32px !important;

}
.carousel-control-prev-icon {
  background-image: none !important;
  color:black !important;
  width: 32px !important; height: 32px !important;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
  list-style: none !important;
  border-color: white !important;
}
.progress-bar  {
  background-color: orange !important;
}
@media (min-width: 991.98px) {
  .mt-lg-n22{
    margin-top: -180px!important;
  }
}

.mt-n50 {
    margin-top: -50px!important;
}

.card{
  border-color: white !important;
}

@media (max-width: 991.98px) {
  .carousel-control-next{
    margin-top: 120px;
    margin-right: 0 !important;
    color:black !important;
    top: 380px !important;
    bottom: auto;
    left: 200px !important;
  }
}
@media (max-width: 991.98px) {
  .carousel-control-prev{
    margin-top: 120px;
    margin-left: 150px !important;
    color:black !important;
    top: 380px !important;
    right: 1800px !important;
    bottom: auto;
  }
}

@media (max-width: 991.98px) {
  .icon{
    margin-left: 0;
  }
}

@media (max-width: 561px) {/* extra small*/
  .course-card{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 0.7rem !important;
    width: 25rem !important;
}
}
/* @media (min-width: 561px){/* small
  .course-card{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 0.7rem !important;
    width: 6rem !important;
} */


@media (min-width: 786px){/* medium*/
  .course-card{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 0.7rem !important;
    width: 8rem !important;
}
.carousel-control-next,
.carousel-control-prev{
  margin-top: 230px !important;
}
}

@media (min-width: 990px){/* large*/
  .course-card{
    border-radius: 0.7rem !important;
    width: 15rem !important;
}
.carousel-control-next,
.carousel-control-prev{
  margin-top: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

.card-header-course{
  border: none !important;

}
.card-header-tabs{
  background-color: white !important;
  
}

.nav-tabs .nav-link {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  padding-bottom: 20px !important;
  border-bottom: none  !important;

  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-left: 20px !important;

}
.nav-tabs{
  background-color: white !important;

}
.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link.active {
  background-color: transparent !important;
  border-bottom: 2px solid #754ffe !important;
  color: #754ffe !important;
}

.nav-tabs .nav-item .nav-link {
  border-bottom: 2px solid transparent !important;
  border-radius: 0 !important;
  color: #64748b !important;
  font-weight: 500 !important;
  margin-bottom: -1px !important;
  padding: 16px 0 !important;
  white-space: nowrap !important;
}

.accordion-button-flush{
  border: none;
  border-bottom: lightgray;
  padding-bottom: 15px;
  color:black;
  background-color: white;
  font-size: 16px;
}


